.modal {
    background-image: linear-gradient(to top right, var(--primary-color), var(--p));
}

.modal__body {
    display: flex;
    justify-content: space-between;
}

.auth-form--left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

